<html>
<body>
Bonjour <%= @musician.name %>,
<br>
<br>Vous avez reçu un message sur leboncouac.fr!
<br>Expéditeur: <%= @sender_name %>
<br>Téléphone: <%= @sender_phone %>
<br>Email: <%= @sender_email %>
<br>Message: <%= @sender_message %>
<br>A bientôt,
<br><a href="http://www.leboncouac.fr">leboncouac.fr</a>
</body>
</html>