<%= form_for(@musician) do |f| %>
  <% if @musician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@musician.errors.count, "error") %> prohibited this musician from being saved:</h2>

      <ul>
      <% @musician.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br />
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br />
    <%= f.text_field :lastname %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<div id="recipient"></div>

<script type="text/javascript">
    $(function() {
        $("#new_musician").submit(function() {
            s = $(this).serialize();
            $.ajax({
                    type: "POST",
                    data: s,
                    url: $(this).attr("action"),
                    success: function(retour)
                    {
                        $("#recipient").empty().append(retour);
                    }
                });
            return false;
        });
    });
</script>
