<p>
Vous désirez être contacté par des groupes de musique à la recherche de musiciens et de chanteurs ?
<br>Inscrivez-vous gratuitement via ce formulaire.
<br>Votre annonce restera pendant 3 mois sur le site puis sera supprimée. Pendant cette période, vous pourrez la supprimer à tout moment.
<br><br>
</p>
<div id="ok"></div>

<%= form_for(@musician, :remote => true, ) do |f| %>
  <% if @musician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@musician.errors.count, "erreur") %> dans le formulaire :</h2>

      <ul>
      <% @musician.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <label>Nom</label>
    <%= f.text_field :name, {:class => 'text ui-widget-content ui-corner-all'} %>
  </div>

 <div class="field">
	Instruments<br />
  	<%= collection_select(:musician, :instrument_ids, @instruments, :id, :name, {:prompt => false}, { :multiple => true, :class => 'ui-widget-content ui-corner-all'}) %>
  </div>

  <div class="field">
	Niveau<br />
  	<%= select(:musician, :level, Musician::LEVELS, {:prompt => "Sélectionner votre niveau"}, {:class => 'ui-widget-content ui-corner-all'}) %>
  </div>

  <div class="field">
    Styles joués<br />
    <%= f.text_field :style, {:class => 'text ui-widget-content ui-corner-all'} %>
  </div>

 <div class="field">
	Département<br />
  	<%= select(:musician, :department, Musician::DEPARTMENTS, {:prompt => "Sélectionner un département"}, {:class => 'ui-widget-content ui-corner-all'}) %>
  </div>
  
  <div class="field">
    Ville<br />
    <%= f.text_field :city, {:class => 'text ui-widget-content ui-corner-all'} %>
  </div>

 <div class="field">
    Ajouter des informations supplémentaires<br />
    <div class="form_texarea_wrapper"><%= f.text_area :comment, {:class => 'text ui-widget-content ui-corner-all form_textarea', :rows => 10, :cols => 70} %></div>
  </div>

  <div class="field">
    Email<br />
    <%= f.text_field :email, {:class => 'text ui-widget-content ui-corner-all'} %>
	<br />Afin de vous protéger du spam, votre email ne sera pas visible dans l'annonce. Les utilisateurs pourront vous contacter via un formulaire.
  </div>

  <div class="actions">
    <%= f.submit "S'inscrire", {:class => 'inscription_button'} %>
  </div>
<% end %>

<script type="text/javascript">
    $(function() {
        $("#new_musician").submit(function() {
            s = $(this).serialize();
            $.ajax({
                    type: "POST",
                    data: s,
                    url: $(this).attr("action"),
                    success: function(retour)
                    {
                        $('#new-musician').empty().append(retour);
                        $('#all-musicians').load('<%= musicians_url %>');
                    }
                });
            return false;
        });
    });
</script>
