<%= form_for(@musician) do |f| %>
  <% if @musician.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@musician.errors.count, "erreur") %> dans le formulaire :</h2>

      <ul>
      <% @musician.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Prénom<br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    Nom<br>
    <%= f.text_field :lastname %>
  </div>

  <div class="field">
    Email<br>
    <%= f.text_field :email %>
  </div>

  <div class="actions">
    <%= f.submit "S'inscrire" %>
  </div>
<% end %>

<script type="text/javascript">
    $(function() {
        $("#new_musician").submit(function() {
            s = $(this).serialize();
            $.ajax({
                    type: "POST",
                    data: s,
                    url: $(this).attr("action"),
                    success: function(retour)
                    {
                        $('#new-musician').empty().append(retour);
                        $('#all-musicians').load('<%= musicians_url %>');
                    }
                });
            return false;
        });
    });
</script>
