<h3>Listing musicians</h3>

<table>
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @musicians.each do |musician| %>
  <tr>
    <td><%= musician.firstname %></td>
    <td><%= musician.lastname %></td>
    <td><%= link_to 'Show', musician %></td>
    <td><%= link_to 'Edit', edit_musician_path(musician) %></td>
    <td><%= link_to 'Destroy', musician, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br/>
