<h3>Liste des musiciens</h3>

<p>Liste des musiciens cherchant à jouer dans un groupe. Contactez les !</p>

<table>
  <tr>
    <th>Nom</th>
    <th>Instruments</th>
    <th>Département</th>
    <th>Ville</th>
	<th></th>
  </tr>

<% @musicians.each do |musician| %>
  <tr>
    <td><%= musician.name %></td>
 	<td><%= musician.instruments.map { |instrument| instrument.name }.join(", ") %></td>
    <td><%= musician.department %></td>
    <td><%= musician.city %></td>
	<td><button class="contact_musician" musician_contact_url=<%= send_message_musician_url(musician) %>>Contact</button></td>
  </tr>
<% end %>
</table>

<div id="dialog-contact" title="Contacter le musicien">
	<form id="contact_form">
	<fieldset>
		<label for="name">Name</label>
		<input type="text" name="name" id="name" class="text ui-widget-content ui-corner-all" />
		<label for="email">Email</label>
		<input type="text" name="email" id="email" value="" class="text ui-widget-content ui-corner-all" />
		<label for="phone">Téléphone</label>
		<input type="text" name="phone" id="phone" value="" class="text ui-widget-content ui-corner-all" />
		<label for="message">Message</label>
		<input type="textarea" name="message" id="message" value="" class="text ui-widget-content ui-corner-all" />		
	</fieldset>
	</form>
</div>

<br/>
