<p id="notice"><%= notice %></p>

<p>
  <b>Firstname:</b>
  <%= @musician.firstname %>
</p>

<p>
  <b>Lastname:</b>
  <%= @musician.lastname %>
</p>


<%= link_to 'Edit', edit_musician_path(@musician) %> |
<%= link_to 'Back', musicians_path %>
