<div id="bandeau"></div>

<div id="main">
    <div id="entete"><img src="<%= image_path 'leboncouac-beige-200.png' %>"/></div>

    <div id="onglets">
        <a role="button" class="button onglet_1" href="#acceuil">Accueil</a>
        <a role="button" class="button" href="#all-musicians">Recherche</a>
        <a role="button" class="button" href="#new-musician">Inscription</a>
        <div class="onglet" id="acceuil">
            <h3>Accueil</h3>
            <p>Avec leboncouac.fr, formez votre groupe de musique facilement !</p>
            <br/>
            <h4>Vous êtes musicien et vous cherchez un groupe ?</h4>
            <p>Inscrivez-vous via le formulatire d'inscription !</p>
            <br/>
            <h4>Vous faites partie d'un groupe et il vous manque un musicien ?</h4>
            <p>Faites une recherche dans la liste des musiciens, puis contactez-les !</p>
            <br/>
            <br>Contact : <%= mail_to("contact@leboncouac.fr") %>
        </div>
        <div class="onglet" id="all-musicians"></div>
        <div class="onglet" id="new-musician"></div>
    </div>
</div>

<script type="text/javascript">
    $(function(){
        $("#onglets .onglet").not(":first").hide();
        $("#onglets a:first").addClass("actif");
        $("#onglets a").click(
            function(){
                $("#onglets a").removeClass("actif");
                $("#onglets .onglet").hide();
                $(this.hash).show();
                $(this).blur().addClass("actif");
                return false;
            }
        );
    });
</script>

<%= render 'test' %>

<script type="text/javascript">
    $(function() {
        $('#new-musician').load('<%= new_musician_url %>');
        $('#all-musicians').load('<%= musicians_url %>');
    });
</script>
