<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @instrument.name %>
</p>

<p>
  <b>Tonality:</b>
  <%= @instrument.tonality %>
</p>


<%= link_to 'Edit', edit_instrument_path(@instrument) %> |
<%= link_to 'Back', instruments_path %>
